trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: frontend-env-vars

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '22.x'
    displayName: 'Use Node.js 22'

  - script: |
      npm ci
      npm run build
    displayName: 'Build frontend'

  - script: |
      mkdir build_output
      cp -R .next build_output/
      cp -R public build_output/
      cp package.json build_output/
      cp package-lock.json build_output/
      touch build_output/.skipOryxBuild
    displayName: 'Prepare deploy folder'

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: 'build_output'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/frontend.zip'
      replaceExistingArchive: true
    displayName: 'Archive deploy files'

  - task: AzureWebApp@1
    inputs:
      azureSubscription: 'Azure-Service-Connection'
      appName: 'rg-opulanz-frontend'
      package: '$(Build.ArtifactStagingDirectory)/frontend.zip'
      enableCustomDeployment: true
      removeAdditionalFilesFlag: true
    displayName: 'Deploy to App Service'
