trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: frontend-env-vars

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Use Node.js 18'

  - script: |
      npm install --no-audit --no-fund
      npm run build
      npm run export
    displayName: 'Build Next.js'
    
    env:
      NEXT_PUBLIC_API_URL: $(NEXT_PUBLIC_API_URL)
      NEXT_PUBLIC_APP_NAME: $(NEXT_PUBLIC_APP_NAME)
      NEXT_PUBLIC_APP_URL: $(NEXT_PUBLIC_APP_URL)
      NEXT_PUBLIC_PAYPAL_CLIENT_ID: $(NEXT_PUBLIC_PAYPAL_CLIENT_ID)
      NEXT_PUBLIC_PAYPAL_CURRENCY: $(NEXT_PUBLIC_PAYPAL_CURRENCY)
      NEXT_PUBLIC_ENABLE_ANALYTICS: $(NEXT_PUBLIC_ENABLE_ANALYTICS)
      NEXT_PUBLIC_ENABLE_DEBUG: $(NEXT_PUBLIC_ENABLE_DEBUG)
      NEXT_PUBLIC_ENVIRONMENT: $(NEXT_PUBLIC_ENVIRONMENT)

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: 'out'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/frontend.zip'
      replaceExistingArchive: true

  - task: AzureWebApp@1
    inputs:
      azureSubscription: 'Azure-Service-Connection'
      appName: 'rg-opulanz-frontend'
      package: '$(Build.ArtifactStagingDirectory)/frontend.zip'
