trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: frontend-env-vars

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '22.x'
    displayName: 'Use Node.js 22'

  - script: |
      npm ci
      npm run build
      
    displayName: 'Build frontend'
    env:
      NEXT_PUBLIC_API_URL: $(NEXT_PUBLIC_API_URL)
      NEXT_PUBLIC_APP_NAME: $(NEXT_PUBLIC_APP_NAME)
      NEXT_PUBLIC_APP_URL: $(NEXT_PUBLIC_APP_URL)
      NEXT_PUBLIC_PAYPAL_CLIENT_ID: $(NEXT_PUBLIC_PAYPAL_CLIENT_ID)
      NEXT_PUBLIC_PAYPAL_CURRENCY: $(NEXT_PUBLIC_PAYPAL_CURRENCY)
      NEXT_PUBLIC_ENABLE_ANALYTICS: $(NEXT_PUBLIC_ENABLE_ANALYTICS)
      NEXT_PUBLIC_ENABLE_DEBUG: $(NEXT_PUBLIC_ENABLE_DEBUG)
      NEXT_PUBLIC_ENVIRONMENT: $(NEXT_PUBLIC_ENVIRONMENT)

  - script: |
      mkdir build_output
      cp -R .next build_output/
      cp -R public build_output/
      cp -R node_modules build_output/
      cp package.json build_output/
      cp package-lock.json build_output/
      touch build_output/.skipOryxBuild
    displayName: 'Prepare deploy folder'

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: '.'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/frontend.zip'
      replaceExistingArchive: true
    displayName: 'Archive deploy files'

  - task: AzureWebApp@1
    inputs:
      azureSubscription: 'Azure-Service-Connection'
      appName: 'rg-opulanz-frontend'
      package: '$(Build.ArtifactStagingDirectory)/frontend.zip'
    displayName: 'Deploy to App Service'
