trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: frontend-env-vars

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Use Node.js 20'

- script: |
    npm ci
  displayName: 'Install dependencies'

- script: |
    npm run build
  displayName: 'Build Next.js'
  env:
    NODE_ENV: "production"
    NEXT_PUBLIC_API_URL: $(NEXT_PUBLIC_API_URL)
    NEXT_PUBLIC_APP_NAME: $(NEXT_PUBLIC_APP_NAME)
    NEXT_PUBLIC_APP_URL: $(NEXT_PUBLIC_APP_URL)
    NEXT_PUBLIC_PAYPAL_CLIENT_ID: $(NEXT_PUBLIC_PAYPAL_CLIENT_ID)
    NEXT_PUBLIC_PAYPAL_CURRENCY: $(NEXT_PUBLIC_PAYPAL_CURRENCY)
    NEXT_PUBLIC_ENABLE_ANALYTICS: $(NEXT_PUBLIC_ENABLE_ANALYTICS)
    NEXT_PUBLIC_ENABLE_DEBUG: $(NEXT_PUBLIC_ENABLE_DEBUG)
    NEXT_PUBLIC_ENVIRONMENT: $(NEXT_PUBLIC_ENVIRONMENT)

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '.'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/frontend.zip'
    replaceExistingArchive: true
    include: |
      .next/**
      public/**
      package.json

- task: AzureWebApp@1
  inputs:
    azureSubscription: 'Azure-Service-Connection'
    appName: 'rg-opulanz-frontend'
    package: '$(Build.ArtifactStagingDirectory)/frontend.zip'
